<a href="https://colab.research.google.com/github/nicorreau/Python/blob/main/U1_%7C_Operaciones_matem%C3%A1ticas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = "https://drive.google.com/uc?export=view&id=1Bss-t4i2HskfdVnTRw2HF-2RlOge02Sv" alt = "Si no puede ver este encabezado le recomendamos que utilice un navegador distinto. Los navegadores probados son Google Chrome, Opera y Microsoft Edge." width = "80%">  </img>

# **Operaciones matemáticas con _Python_**
---
¡Le damos la bienvenida al segundo material del curso de **Introducción a la programación con _Python_**!

En este material se discutirán los conceptos fundamentales del manejo y operación de valores numéricos en el lenguaje de programación _Python_.

In [ ]:
!python --version

Python 3.7.13

> _Este material fue creado en la versión **`3.7.10`** de _Python__. Algunas funcionalidades pueden no estar disponibles en versiones anteriores.

## **1. Números**
---
Además de los valores y operaciones discutidas en cadenas de texto, una de las aplicaciones y pilares fundamentales de la programación es el manejo y operación de **valores numéricos** de distintos tipos, y es de gran importancia en la mayoría de las aplicaciones de la programación, como los procesos de análisis de datos.

Al igual que en el resto de los valores que veremos en el curso, los valores numéricos siguen unas reglas de escritura que le permiten a _Python_ identificar cuando un valor es de un tipo particular.

En _Python_ los números se expresan como se expresarían en una calculadora o en una hoja de cálculo de herramientas como _Excel_, compuesto por **dígitos**:

In [ ]:
500

500


Al igual que con las cadenas de texto, los números que escribamos tienen que ser válidos para el intérprete o de lo contrario la ejecución no llegará a su fin.

In [ ]:
500$

SyntaxError: ignored

Nuevamente, encontramos que este código no es válido de acuerdo a las reglas del lenguaje. El programador pudo haber querido evaluar un valor para representar una cantidad de dinero, pero _Python_ no distingue el concepto de moneda con el carácter **`$`** y simplemente lo identifica como un error.

> **Entonces, ¿cuáles son las reglas para escribir valores numéricos en _Python_?**

_Python_ es capaz de interpretar estos valores (llamados **literales**) directamente realizando la distinción entre tres tipos de números.

### **1.1. Números enteros**
---
Al igual que el ejemplo anterior, los [números enteros](https://es.wikipedia.org/wiki/Número_entero) sencillos se escriben con los dígitos del $0$ al $9$ y sin espacios entre ellos.

<img src = "https://drive.google.com/uc?export=view&id=1R-2ce6HPK9L70f2KZqJR0GnMp_vYJABA" alt = "Números enteros" width = "40%">  </img>

In [ ]:
1234567890

1234567890

Como una excepción a esta regla _Python_ define que **NO** es válido utilizar ceros a la izquierda de un valor numérico:

In [ ]:
0001

SyntaxError: ignored

Los valores negativos se pueden expresar con el símbolo de resta **`-`** antes de un valor numérico válido (aplica también para otros tipos de número).

> **Nota:** Sin embargo, y como veremos más adelante, este no es un tipo de valor numérico literal, sino una operación de **negación numérica**.

In [ ]:
-5000

-5000

_Python_ se caracteriza por su **expresividad**, y vela por proveer herramientas para facilitar la legibilidad del código. Una de estas características (conocidas usualmente como _syntax sugar_ o azúcar sintáctico) es la posibilidad de usar el símbolo barra al piso (**`_`**) como separador en valores literales numéricos para permitir la legibilidad.

> **Nota**: otra de las formas inválidas de definir valores numéricos es utilizar puntos (**`.`**) o comas (**`,`**) como separadores. Como verá en el transcurso del curso, estos símbolos son muy importantes en otras funcionalidades de _Python_.

In [ ]:
1_000_000

1000000

Esto es especialmente útil como separador de miles para mejorar la legibilidad. Todos estos son **valores** válidos de _Python_, lo que quiere decir que:



1. Pueden ser almacenados en **variables**. A diferencia de otros lenguajes, **NO** importa si la variable tenía un valor de otro tipo.

In [ ]:
num = "Cadena"    # Inicialmente 'num' tenía una cadena.
num = 100         # Le reasignamos sin problema

9900002324

2. Pueden ser usados como **argumentos** de funciones. Por ejemplo, la función **`print`** puede aceptar como argumento un valor numérico.

In [ ]:
print(10000)

10000

3. Pueden ser **retornados** por funciones. Por ejemplo, _Python_ dispone de la función **`len`**, que nos permite conocer la longitud de objetos como las cadenas de texto (es decir, su cantidad de caracteres).

In [ ]:
# El método 'len' de cadenas de texto discutido
# en el material anterior retorna un valor numérico.

n_caracteres = len("123456")

n_caracteres

6

> **¿Cómo podemos distinguir entre texto y valores numéricos?**

Si intentamos imprimir una cadena con los caracteres **`1`** y **`0`** (**`"10"`**) y el número diez (**`10`**) obtendríamos el mismo resultado en consola.

In [ ]:
cadena = "10"   # Es una cadena con los dígitos '1' y '0'.
numero = 10     # Es un valor numérico con el número entero 10.

print(cadena)
print(numero)

Sin embargo, esto **NO** quiere decir que sean lo mismo, sino que su representación en la salida del programa sí lo es. _Python_ lleva un registro del **tipo de dato** real de cada valor, que puede ser consultado con la función **`type`**.

In [ ]:
type(cadena) # Tipo de la cadena (str)

str

En _Python_, los números enteros tienen el tipo **`int`** (diminutivo de *integer*, entero en inglés).

In [ ]:
type(numero)

int

#### **1.1.1. Bases numéricas (Opcional)**
***
Estos números enteros son interpretados con la base **decimal**, con dígitos entre $0$ y $9$. _Python_ también permite utilizar otras bases como la [binaria](https://es.wikipedia.org/wiki/Sistema_binario) (base $2$), [octal](https://es.wikipedia.org/wiki/Sistema_octal) (base $8$) y [hexadecimal](https://es.wikipedia.org/wiki/Sistema_hexadecimal) (base $16$).

Podemos ver la base decimal como un sistema de dígitos que representan unidades, decenas, centenas, etc. Estas a su vez se pueden representar como potencias de **10**.

<img src = "https://drive.google.com/uc?export=view&id=1tpWtHvzIzdKZJkmaxJsM9NUUBJ2OZSBE" alt = "Base decimal" width = "70%">  </img>

Ese número $10$ es el que da el nombre a la **base decimal** (también conocida en ocasiones como **base** $10$). Este número a su vez representa la cantidad de dígitos usados para representar un número, siendo en este caso los $10$ dígitos de $0$ a $9$.


A continuación, veremos cómo podemos trabajar con las demás bases permitidas en el lenguaje de programación _Python_.


* **Números enteros binarios**: para escribir números enteros en esta base debemos utilizar el prefijo **`0b`** o **`0B`**. Luego de este se indican una combinación de los dígitos **`0`** y **`1`**.  Al evaluar su valor, _Python_ retorna su interpretación en el sistema decimal.


<img src = "https://drive.google.com/uc?export=view&id=1FbTvyKviAYyzXB_a-X7ZvjrmfXGu7JjY" alt = "Base binaria" width = "70%">  </img>


Siguiendo la idea de la base decimal, tenemos que la base binaria trabaja con dos dígitos (**`0`** y **`1`**), donde cada uno de los dígitos está asociado a una potencia de $2$. A continuación, un ejemplo de una conversión entre estas bases:

  $$\texttt{0b101} \rightarrow 1(2^2) + 0(2^1) + 1(2^0) = 4 + 0 + 1 = 5$$

In [ ]:
0b101

5

Al igual que en la base decimal, cuando sumamos un valor a un número binario y se sobrepasa la unidad, se empieza a propagar el **acarreo** a los siguientes dígitos, de derecha a izquierda.

In [ ]:
# Primeros números de la base binaria

print(0b0)    #               0x1
print(0b1)    #               1x1
print(0b10)   #         1x2 + 0x1
print(0b11)   #         1x2 + 1x1
print(0b100)  #   1x4 + 0x2 + 0x1

0
1
2
3
4

* **Números enteros octales**: para escribir este tipo de enteros se utiliza el prefijo **`0o`** o **`0O`** y se indican a continuación una combinación de los dígitos entre **`0`** y **`7`**.

Al evaluar su valor, _Python_ retorna su interpretación en el sistema decimal.


<img src = "https://drive.google.com/uc?export=view&id=1Q9BdqGPrVCJ_5nxuQ6EG-6Ucqch1rsKT" alt = "Base octal" width = "70%">  </img>

A continuación, un ejemplo de una conversión entre estas bases:

  $$\texttt{0o174} \rightarrow  1(8^2) + 7(8^1) + 4(8^0) = 64 + 56 + 4= 124$$

In [ ]:
0o174

124

* **Números enteros hexadecimales**: para escribir este tipo de enteros se utiliza el prefijo **`0x`** o **`0X`** y se indican a continuación una combinación de los dígitos entre **`0`** y **`9`**, además de las letras de la **`A`** a la **`F`** en minúscula o mayúscula (de esta manera cada digito tiene $16$ valores distintos). Estas letras representan los siguientes números en base decimal:

| **Letra** | **Valor** |
|----|----|
| A         |        10 |
| B | 11 |
| C | 12 |
| D | 13 |
| E | 14 |
| F | 15 |

  Al evaluar su valor, _Python_ retorna su interpretación en el sistema decimal.  
  <img src = "https://drive.google.com/uc?export=view&id=1oba8xj1k8snrhSbecexp6nRmcf42h7Q2" alt = "Base binaria" width = "70%">  </img>
  
   A continuación, un ejemplo de una conversión entre estas bases:

  $$\texttt{0x1af} \rightarrow  1(16^2) + 10(16^1) + 15(16^0) = 256 + 160 + 15 = 431$$

In [ ]:
print(0x100) # 0x1__
print(0xa0)  # 0x_a_
print(0xf)   # 0x__f

256
160
15

In [ ]:
# Resultado final

0x1af

431

### **1.2. Números decimales**
___

Los [números decimales](https://es.wikipedia.org/wiki/N%C3%BAmero_decimal) se escriben de manera similar a los números enteros de base decimal, usando el carácter de punto **`.`** para separar la parte entera de la parte decimal.

  <img src = "https://drive.google.com/uc?export=view&id=1o8l7hnw0OS7td8xZlg4SaAp_JbwOjxgL" alt = "Números decimales" width = "40%">  </img>
  

> **Nota:** **NO** intente separar los números decimales con **comas** (**`,`**). Esta sintaxis no es válida para la definición de decimales en _Python_.

In [ ]:
400.125

400.125

Tanto la parte entera como la parte decimal pueden ser omitidas en los casos en que estas tengan $0$ como valor:

In [ ]:
# Omitimos la parte entera de 0.15
.15

0.15

In [ ]:
# Omitimos la parte decimal de 20.0
20.

20.0

De esta manera podemos hacer que valores con solo parte entera sean tratados como decimales directamente. Como puede ver a continuación, el tipo de dato es distinto y por lo tanto su manejo por parte de _Python_ también lo será.

In [ ]:
type(20)

int

In [ ]:
type(20.)

float

El tipo de dato asociado a este tipo de número es **`float`**, que proviene del concepto de **punto flotante**, con el cual se codifica de manera eficiente este tipo de valores.

Al igual que en la mayoría de las calculadoras científicas, _Python_ permite el uso de [notación científica](https://es.wikipedia.org/wiki/Notación_científica) con el carácter **`e`**. De esta forma, se obtiene una equivalencia de notaciones como la del siguiente ejemplo:

$$\texttt{-23e5} \rightarrow -23 \times 10^{5} $$

In [ ]:
-23e5

-2300000.0

Esta notación también aplica para exponentes negativos, dando lugar a fracciones muy pequeñas. Veamos el siguiente ejemplo:

$$\texttt{15e-4} \rightarrow 15 \times 10^{-4}$$

In [ ]:
15e-4

0.0015

Finalmente, podemos utilizar el separador de barra al piso **`_`** para separar los números decimales tanto en su parte real como en su parte entera:

In [ ]:
1_500.42_42

1500.4242

### **1.3. Números complejos (Opcional)**
___

_Python_ permite utilizar [**números complejos**](https://es.wikipedia.org/wiki/Número_complejo), un tipo de número muy importante en áreas como la física, que están compuestos por una **parte real** y una **parte imaginaria**.

Para declarar este tipo de números tenemos que utilizar el carácter **`j`** para definir la parte imaginaria de un número complejo. Como veremos más adelante, se puede definir su parte real con operaciones como la suma y la resta con números decimales o enteros.

In [ ]:
# Complejo con valor 0 + 5j
5j

5j

Las demás reglas de notación para números flotantes aplican con cada componente del número complejo.

In [ ]:
3_000_2.5e52j

3.00025e+56j

Al evaluar su tipo, se considera este tipo de expresiones con tipo **`complex`**:

In [ ]:
type(5j)

complex

Como veremos más adelante con las operaciones matemáticas, _Python_ permite la operación de números complejos con sus detalles matemáticos correspondientes.

## **2. Operadores**
---
Tras discutir la similitud de la escritura de valores numéricos con una calculadora científica es lógico pensar que se puede realizar este tipo de operaciones en un programa de _Python_. Esto es posible con el concepto de **operadores**, otra unidad gramatical del lenguaje que relaciona valores con el objetivo de obtener un resultado apropiado. En esta sección discutiremos los operadores básicos usados en los valores numéricos.

### **2.1. Operadores numéricos**
---

La especificación de _Python_ define una serie de operadores matemáticos básicos que pueden ser usados con sus tipos de datos numéricos. El más básico de ellos es el de **negación numérica**.

  <img src = "https://drive.google.com/uc?export=view&id=1U_Cbp5Xg5-wdtV9wM7UBjMMY7nFt6lB7" alt = "Base binaria" width = "30%">  </img>

Este indica al intérprete que el valor que se encuentre a continuación deberá ser negado, o multiplicado por $-1$.

In [ ]:
-5000

-5000

Como se mencionó antes, este valor no es un literal numérico, sino que tiene la siguiente estructura:

```
OPERADOR VALOR
```

Para el resto de los operadores, se considera una estructura que involucra dos valores literales $A$ y $B$:

```
VALOR_A OPERADOR VALOR_B
```

Por ejemplo, para realizar una suma y una resta se utilizan los símbolos **`+`** y **`-`**, que son interpretados como operadores válidos de _Python_.

<center>
  <img src = "https://drive.google.com/uc?export=view&id=1dXa5hG57rVf_yz9zOwtyP22AAafWOXoJ" alt = "Adición y substracción" width = "40%">  </img>
  </center>

In [ ]:
# Adición
100 + 20

120

Los espacios entre los operandos y los operadores son ignorados por el intérprete.

In [ ]:
# Substracción.
# Puede haber cualquier cantidad de espacios
# entre los operandos y operadores.

100-          20

80

Sin embargo, se recomienda el manejar $1$ espacio entre cada elemento de nuestras operaciones.

In [ ]:
# Sintaxis recomendada por la guía de estilo de Python.
100 - 20

Por su parte, podemos realizar las operaciones de **multiplicación**, **división** y **exponenciación** con los operadores **`*`**, **`/`** y **`**`** respectivamente.

<center>
  <img src = "https://drive.google.com/uc?export=view&id=1XMmEYfLk-7291q3xphvxAInb_RSsl34R" alt = "Multiplicación y división" width = "60%">  </img>
  </center>

In [ ]:
# Multiplicación
150 * 1005

150750

In [ ]:
# División
50 / 4

12.5

In [ ]:
# Exponenciación
2 ** 16

65536

> **¿Qué sucede si intentamos operar números de tipos distintos?**


En el ejemplo de división anterior realizamos una operación entre dos **números** enteros y obtuvimos como resultado un número **decimal**. Este tipo de operación en particular siempre devuelve un valor decimal automáticamente, sin que tengamos que preocuparnos por declarar un tipo concreto.


_Python_ define las **conversiones** necesarias entre tipos de datos para cada tipo de operación, siempre y cuando la operación tenga sentido. Por ejemplo, si sumamos un **entero** y un **decimal**, se obtiene como resultado el tipo **más general**.

En este caso, se podría decir que el tipo más general es el **decimal**, porque los enteros pueden considerarse valores decimales con $0$ en su parte decimal.

In [ ]:
var_i = 20
print(var_i)
type(var_i)

20

int

In [ ]:
var_f = 10.5
print(var_f)
type(var_f)

10.5

float

In [ ]:
# Sumamos un entero y un decimal
print(var_i + var_f)
type(var_i + var_f)  #  Obtenemos un decimal como resultado.

30.5

float

Si sumamos dos valores del mismo tipo de dato, el resultado será del mismo tipo.

In [ ]:
var_i + var_i

40

In [ ]:
var_f + var_f

21.0

Finalmente, si se opera un entero o un decimal con un complejo, estos se interpretan como la parte real de un complejo con $0$ en su parte imaginaria. Veamos el resultado:

In [ ]:
# Declaramos un número complejo.
var_i = 15j

print(var_i + var_c) # Sumamos un entero al complejo.
type(var_i + var_c)  # El resultado es de tipo 'complex'

(23+25.5j)

complex

Esta regla se aplica al resto de operadores, siempre y cuando su operación tenga sentido para el tipo de dato. A continuación, se presenta una tabla con los **operadores matemáticos** disponibles en _Python_:


| **Símbolos del operador** | **Operación representada** | **Escritura** | **Notación matemática** |
| --- | --- | --- | --- |
| **`-`** (antes de un valor) | Negación numérica | **`-a`** | $-a$ |
| **`-`** (entre dos valores) | Substracción | **`a - b`** | $a - b$ |
| **`+`**  | Adición | **`a + b`** |$a + b$ |
| **`*`**  | Multiplicación | **`a * b`** | $a \times b$ |
| **`/`**  | División | **`a / b`** | $a \div b$ |
| **`%`**  | [Módulo o residuo](https://es.wikipedia.org/wiki/Resto) | **`a % b`** | $a \mod b$ |
| **` ** `**  | Exponenciación | **`a ** b`** | $a^b$ |
| **`//`**  |  División entera o división [piso](https://es.wikipedia.org/wiki/Funciones_de_parte_entera#Función_piso/suelo/parte_entera)  | **`a // b`** | $\lfloor a \div b \rfloor$ |


La operación de **módulo** (**`%`**) es el resto o residuo de una división entera, obtenido en un proceso tradicional de división a mano. Por su parte, el operador de **división piso** produce el entero inmediatamente menor de la división. Esto corresponde al **cociente** de la división entera únicamente para números positivos.

Por ejemplo, si quisiéramos saber a cuánto equivalen $951$ minutos en el formato de horas y minutos podemos realizar la división $951 \div 60$, de la que obtendríamos como **cociente** el valor $15$ y como **residuo o resto** el valor $51$, para un total de $15$ horas con $51$ minutos.

<br>
<center>
<img src = "https://drive.google.com/uc?export=view&id=16HUVO0URVz3DvQFpjfm4uc67XrFM1sJ9" alt = "Ejemplo de división" width = "50%">  </img> </center>

Podemos obtener estos valores con las operaciones de módulo y división piso:

In [ ]:
# Operador division normal
951 / 60

15.85

In [ ]:
# Operador división entera
951 // 60

15

In [ ]:
# Operador módulo o residuo
951 % 60

51

El valor obtenido al realizar **división piso** con números negativos es distinto al cociente de la división. Por ejemplo:

In [ ]:
951 // 60

15

In [ ]:
- 951 // 60

-16


Este detalle es importante pues la **división piso** es una operación más común en computación. Ninguno de estos dos operadores está definido para números complejos. Ejecutar una operación dará como resultado un **error de tipo**.

In [ ]:
15j // 10j

TypeError: ignored

Cuando se manejan variables es muy común realizar operaciones sobre algo y reasignarlo, como vimos en el primer material de cadenas de texto.

In [ ]:
# Realizamos y reasignamos múltiples
# operaciones en una sola variable.

a = 500
a = a + 20
a = a * 2

a

1040

_Python_ permite resumir esta tarea con los distintos operadores de asignación asociados a cada operador. Para esto, usamos una secuencia compuesta por el operador a utilizar (por ejemplo, una suma con **`+`**) seguido por el carácter de asignación **`=`**, dando como resultado el operador de asignación **`+=`**. Entonces, una operación como esta:

In [ ]:
a = 0
a = a + 1

a

1

Se puede resumir de esta manera:

In [ ]:
a = 0
a += 1

a

1

y de igual manera con el resto de los operadores discutidos:

In [ ]:
a = 0

a += 10      # Adición y asignación.
a -= 5       # Substracción y asignación.
a *= 2       # Multiplicación y asignación.
a /= 5       # División y asignación.
a **= 3      # Exponenciación y asignación.
a //= 3      # División entera/piso y asignación.
a %= 3       # Módulo y asignación.

a

2.0

### **2.2. Operadores en cadenas de texto**
---

De acuerdo con el contexto, _Python_ determina la acción apropiada para cada tipo de dato cuando se utiliza un operador determinado. En el caso de las cadenas de texto, operaciones como la **suma** o la **multiplicación** no están definidas, por lo que operadores como **`+`** y **`*`** quedan disponibles para darles un significado y una operación distinta.

En el caso del operador **`+`** es posible realizar la operación de **concatenación**. Esta operación genera una cadena con el contenido de sus operandos uno detrás del otro. Por ejemplo, intentemos realizar una operación entre las cadenas **`'5'`** y **`'10'`**.

In [ ]:
'5' + '10'

'510'

En este caso, es necesario que los dos operandos sean valores de tipo texto. Si intentamos sumar un valor de otro tipo, como un número entero, con una cadena, se producirá un error de tipo.

In [ ]:
50 + '5'

TypeError: ignored

> **Nota:** en las próximas secciones discutiremos el proceso de **conversión de tipos** para solventar este tipo de problemas.

Por su parte, el operador **`*`** permite realizar la operación de **repetición**. Para esta, el segundo operando debe ser un **número entero** con la cantidad de veces por las que se desea concatenar una cadena por sí misma.

In [ ]:
'Ora' * 10

'OraOraOraOraOraOraOraOraOraOra'

También existen operadores creados a partir de palabras reservadas, como el operador **`in`** que, en el caso de las cadenas de texto, permite determinar si una subcadena se encuentra dentro de otra:

In [ ]:
'ora' in 'Aspiradora'

True

> **Nota:** este operador retorna un tipo de dato especial que discutiremos en la **Unidad 2 - Estructuras de control condicional**.

Otro operador sobre cadenas de texto, menos usado en la actualidad, es el operador **`%`** de **interpolación**, que permite realizar un [formato del texto](https://docs.python.org/3/library/stdtypes.html#printf-style-bytes-formatting), inspirado en el lenguaje de programación [C](https://es.wikipedia.org/wiki/C_(lenguaje_de_programación). En la primera cadena se define una sintaxis especial de secuencias para dar formato a el valor recibido como entrada en el segundo valor. Para esto, se usa el mismo carácter **`%`** dentro de la cadena, seguido del tipo de dato esperado. Por ejemplo, si esperamos una cadena de texto usamos la secuencia **`%s`** dentro de nuestra cadena y esta será reemplazada por el valor ingresado. Veamos un ejemplo:

In [ ]:
name = "Mundo"

"¡Hola %s!" % name

'¡Hola Mundo!'

Este operador es una de las razones de la creación de las **cadenas literales con formato** o **f-strings**, que realizan un proceso similar, al tiempo que emulan el concepto de plantilla, con fragmentos autocontenidos de texto.

In [ ]:
# RECOMENDADO: Equivalente con f-strings
name = "Mundo"

f"¡Hola {name}!"

'¡Hola Mundo!'

## **3. Expresiones**
---

En matemáticas, es fácil encontrar operaciones compuestas como la siguiente:

$$((50 + 7^2) -\frac{200}{12.5}) \times 0.5 $$

Hasta el momento somos capaces de realizar las operaciones intermedias de suma, resta, multiplicación, división y potencia con _Python_. Por ejemplo, podríamos hacerlo por pasos, guardando el estado de cada paso con **variables**.

Primero, obtenemos la potencia $7^2$.

In [ ]:
n = 7 ** 2

n

49

Después le sumamos $50$. Podemos reutilizar la variable **`n`**, que pasaría a tener el valor $50 + 7^2$.

In [ ]:
n = n + 50

n

99

En otra variable, obtenemos la división $200 \div 12.5$:

In [ ]:
m = 200 / 12.5

m

16.0

Ahora restamos las dos variables, para obtener $(50 + 7^2) -\frac{200}{12.5}$.

In [ ]:
p = n - m
p

33.0

Finalmente, podemos tomar ese resultado y multiplicarlo por $0.5$ para obtener el resultado final.

In [ ]:
p = p * 0.5
p

16.5

Lo que hicimos en las celdas anteriores es un proceso bastante largo, que se puede llegar a complicar. Es lógico pensar que un lenguaje como _Python_ permita operaciones de este estilo directamente siguiendo una serie de **reglas**.

Las operaciones con operadores presentadas hasta ahora tienen en común que al ser evaluadas dan como resultado un valor. Esta propiedad en común nos permite hablar de **expresiones**, unidades gramaticales compuestas por cualquier combinación de:
- Valores literales.
- Variables.
- Llamado de funciones con valor de retorno.
- Operaciones con operadores, que den como resultado un valor válido.

Una expresión siempre es evaluada con la idea de obtener un **valor**, por lo que son reemplazables entre sí cuando tienen el mismo valor. Por ejemplo, la función **`print`** recibe una expresión, por lo que cualquiera de estos ejemplos es válido y **equivalente** para el valor recibido por la función:

In [ ]:
# Usamos el valor literal 5.
print(5)

5

In [ ]:
# Usamos una variable con el valor 5.
num = 5

print(num)

5

In [ ]:
# Usamos una función que retorna 5.
# (len: cantidad de caracteres de la cadena)

cadena = "12345"

print( len(cadena) )

5

In [ ]:
# Usamos una operación con varias expresiones.
a = len("123")
b = 1
c = b * 2

print(a + c)

5

Gracias a esto, podemos **encadenar** múltiples operaciones en una sola expresión. Esto se debe a que cada parte es a su vez una **expresión válida**.

In [ ]:
# Operación con múltiples valores

5 + 4 - 2 + 9

16

 Parece intuitivo, pero hay que tener en cuenta que los operadores están definidos en su mayoría como operaciones entre dos valores. Veamos el siguiente ejemplo:

> **Pregunta**: ¿cuál cree que será el resultado de esta expresión? ¿es válido realizar esta sentencia? Intente realizar la operación en su mente o en una hoja de papel antes de ejecutar la celda o revisar la respuesta.

$$7 - 6 + 5 \div 4 \times 3^2$$
```python
result = 7 - 6 + 5 / 4 * 3 ** 2
print(result)
```

<details>
  <summary> <b>Respuesta</b> </summary>

  > La expresión **SÍ** es válida y da como resultado el valor $15$. En este caso la operación toma los siguientes pasos:

1. $$7 - 6 + 5 \div 4 \times 3^2$$
2. $$7 - 6 + 5 \div 4 \times 9$$
3. $$7 - 6 + 1.25 \times 9$$
4. $$7 - 6 + 11.25$$
5. $$1 + 11.25$$
5. $$12.25$$

</details>

In [ ]:
7 - 6 + 5 / 4 * 3 ** 2

12.25

La operación siguió algunas reglas específicas. Primero realizó la exponenciación, luego la división, la multiplicación, la resta y finalmente la suma.

En el ejercicio anterior a este utilizamos una lógica adquirida de las matemáticas y del uso natural y frecuente de estas operaciones para realizar el proceso en el orden correcto con el apoyo de variables.

 _Python_ realiza esta tarea con criterios de **precedencia de operadores**., que permiten determinar qué operador se debe resolver antes, de manera que toda expresión siempre se realice de la **misma manera**.

En este caso la exponenciación tiene una prioridad o precedencia mayor al resto de operadores, por lo que se resuelve antes de continuar con los demás valores.
Tal como en el ejercicio planteado, podemos utilizar paréntesis **`()`** para saltarnos estas reglas y especificar operaciones con una precedencia mayor.

Por ejemplo, si realizáramos esta operación sin indicar paréntesis:

$$((50 + 7^2) -\frac{200}{12.5}) \times 0.5$$

In [ ]:
50 + 7**2 - 200/12.5 * 0.5

91.0

Luego, si utilizamos los paréntesis para realizar esta operación:

In [ ]:
((50 + 7**2) - 200/12.5) * 0.5

41.5

A continuación, se presenta una tabla de precedencia con los operadores vistos hasta el momento en el curso. Conforme avance en el contenido se irá introduciendo nuevos operadores y expresiones que se consideran al realizar el proceso de evaluación de una expresión.


| Operador | Asociatividad | Descripción |
| --- | --- | --- |
| **`(expresión)`** |  Izquierda a derecha | Expresión en paréntesis. |
|  __`**`__  | Derecha a izquierda | Exponenciación. |
| **`-x`**, **`+x`** | Izquierda a derecha | Positivo y negativo. |
| **`*`**, **`/`**, **`%`** , **`//`**|Izquierda a derecha |  Multiplicación, división, módulo y división piso. |
| **`+`**, **`-`**| Izquierda a derecha | Adición y substracción. |
| **`=`**| Derecha a izquierda | Asignación. |


Además del orden de precedencia, se considera el criterio de asociatividad para decidir en qué orden se evalúan operadores con el mismo peso. Por ejemplo, con la división y multiplicación, como están en el mismo nivel de precedencia, se evalúa de izquierda a derecha:

In [ ]:
# Primero 8 / 4 se evalúa y reemplaza por 2.0
# Luego 2.0 * 5 se evalúa y se reemplaza por 10.0
# Luego 10.0 / 4 se evalúa y se reemplaza por 2.5
# Al final 2.5 * 2 se evalúa y se reemplaza por 5.0

8 / 4 * 5 / 4 * 2

5.0

La anterior expresión es equivalente a esta expresión:

In [ ]:
(((8 / 4) * 5) / 4) * 2

5.0

Si quisiéramos realizar las operaciones de derecha a izquierda, deberíamos indicarlo explícitamente con paréntesis:

In [ ]:
(8 / (4 * (5 / (4 * 2))))

3.2

En cambio, la potenciación se evalúa de derecha a izquierda, por lo que una expresión como $3^{2^3}$ produce como resultado $3^8$ (desde la izquierda, evaluando primero $2^3$) y no $9^3$ (evaluando primero $3^2$).

In [ ]:
3 ** 2 ** 3

6561

In [ ]:
3 ** (2 ** 3)

6561

In [ ]:
# Esta operación es distinta
# a su versión sin paréntesis.

(3 ** 2) ** 3

729

De igual forma, la asignación se resuelve de derecha a izquierda, con la posibilidad de realizar múltiples asignaciones en **una sola línea**.

In [ ]:
a = 10
b = 15
c = 20

c = b = a

print(a)
print(b)
print(c)

10
10
10

## **4. Conversión de tipos**
---
 Es común necesitar el uso de conversiones entre estos tipos de dato básicos. Para esto, _Python_ proporciona algunas funciones simples que nos permitirán realizar este proceso directamente.

 Por ejemplo, si quisiéramos obtener de la **entrada** del programa un valor numérico, nos encontraríamos con un problema.

In [ ]:
# Pedimos al usuario un número entero.
num = input("Ingrese un número entero: ")

Ingrese un número: 23

> **Nota:** asegúrese de introducir un número válido para este ejercicio o se generarán errores en las próximas celdas.

Si el usuario introdujo un número aparentemente válido, aún tenemos un problema. Si lo intentamos usar en una operación, nos daremos cuenta de que el número obtenido es en realidad una **cadena de texto**.

In [ ]:
num + 1

TypeError: ignored

Como puede notar, las operaciones entre **números** y **cadenas de texto** no están permitidas en _Python_. Si quisiéramos realizar una operación, tendríamos que disponer de estrategias para convertir nuestro valor de texto en un número válido. Para lograr esto, _Python_ pone a nuestra disposición una serie de **funciones** que nos permiten **convertir** nuestros valores a un tipo particular.

<br>
<center>
<img src = "https://drive.google.com/uc?export=view&id=1jMYF-lROjbKHrgWuyqOPNq5glFTmduwl" alt = "Conversión de tipos" width = "50%">  </img> </center>

De momento, las funciones que consideraremos en este material son las siguientes:


* **`str:`** permite convertir valores al tipo de dato **de texto** (**`str`**).
* **`int:`** permite convertir valores al tipo de dato **entero** (**`int`**).
* **`float:`** permite convertir valores al tipo de dato **decimal** (**`float`**).
* **`complex:`** permite convertir valores al tipo de dato **complejo** (**`complex`**).



> **Nota:** estas funciones son llamadas **constructores** y permiten crear objetos nuevos del tipo al que corresponden, y por eso tienen el mismo nombre del tipo al que se les asocia. El concepto de **constructor** se retomará nuevamente en la **Unidad 4 - Funciones y objetos**.


Veamos un ejemplo de conversión de una cadena de texto (**`str`**) a un número entero (**`int`**) con la función **`int(valor_original)`**.

In [ ]:
# Valor original de tipo 'str'.
cadena = "52"

# Función 'int'
num = int(cadena)

# Vemos el contenido y el tipo de 'num'.
print(num)
type(num)

52

int

> **Nota:** solo ejecutar la función **NO** modifica el valor original. Si queremos utilizarlo, debemos guardarlo en una variable o utilizarlo en un contexto apropiado.

Podemos ver que la variable cadena todavía contiene un valor de **texto**.

In [ ]:
print(cadena)
type(cadena)

52

str

Las funciones **`str(valor)`**, **`int(valor)`**, **`float(valor)`** y **`complex(valor)`** convertirán (o intentarán convertir) los argumentos en los tipos **`str`**, **`int`**, **`float`** y **`complex`**, respectivamente.

Por ejemplo, podemos convertir cualquier objeto a su equivalente en cadena de texto con la función **`str(valor)`**.

In [ ]:
# Convertimos un valor decimal a cadena de texto.
str(500_000.54e-5)

'5.0000054'

In [ ]:
# Convertimos un valor complejo a cadena de texto.
str(23 + 50j)

'(23+50j)'

Algunas de estas funciones tienen argumentos adicionales para escenarios especiales. Por ejemplo, en el caso de las cadenas con enteros en otra base distinta a la decimal, podemos escribir una coma **`,`** seguida del número de la base en el llamado de la función **`int`**.

In [ ]:
print(int('100', 2))    # Convertimos '0b100' a entero.
print(int('100', 16))   # Convertimos '0x100' a entero.

4
256

 Cuando intentamos convertir un número **decimal** a entero se **descarta** la parte decimal del número. A este proceso lo llamamos **truncamiento hacia cero**.

In [ ]:
# Obtenemos la parte entera del valor decimal.
int(2.3)

2

La función **`float`** permite tomar cadenas de texto con las reglas descritas para este tipo de dato y realiza una conversión de tipo a los valores enteros con $0$ en su parte decimal.

In [ ]:
# Convertimos una cadena de texto válida a punto flotante.
float("123450")

123450.0

In [ ]:
# Convertimos un entero binario a punto flotante.
float(0b1000)

8.0

En el caso de los números complejos la operación de conversión a entero o flotante **NO** está definida.

In [ ]:
int(50j)

TypeError: ignored

Sin embargo, sí es posible tomar estos tipos como entrada, que pasan a conformar la parte real del número complejo creado.

In [ ]:
# Convertimos el número 50 en el complejo 50 + 0j.
complex(50)

(50+0j)

In [ ]:
# Convertimos el número 0.5 en el complejo 0.5 + 0j.
complex(.500)

(0.5+0j)

## **5. Formato de valores numéricos**
---
Ahora que hemos discutido el concepto de **valor numérico** y los distintos tipos de dato que están disponibles, podemos discutir algunos **modificadores** adicionales para las cadenas con formato conocidas como ***f-strings***.


* **Dígitos decimales (`f`)**: cuando manejamos valores decimales con gran precisión, suele ser necesario disponer de un formato regular y predecible, con una **cantidad exacta** de dígitos decimales. Para esto podemos utilizar el siguiente modificador:
  ```
  {VALOR:f} | {VALOR:.Pf}
  ```

  En este caso, podemos reemplazar **`P`** por la cantidad de **dígitos decimales** que queramos representar. Por ejemplo, podemos hacer que _Python_ muestre una cadena con exactamente **SEIS** dígitos decimales de la siguiente forma:

In [ ]:
# Calculamos la raíz de dos como 2 elevado a 1/2.
raiz = 2 ** 0.5

f"Raíz de 2: {raiz:.6f}"

'Raíz de 2: 1.414214'

En caso de tener menos de estos dígitos, _Python_ llenará el valor con ceros a la derecha del número.

In [ ]:
ejemplo = 2.

f"Ejemplo de formato con 0 en la parte decimal: {ejemplo:.10f}"

'Ejemplo de formato con 0: 2.0000000000'

Por defecto, el modificador **`f`** imprime exactamente $6$ dígitos decimales. Podemos omitir el parámetro numérico **`P`** escribiendo el siguiente modificador.
  ```
  {VALOR:f}
  ```

In [ ]:
num = 0.123456789454132187845

f"Número con 6 dígitos decimales (por defecto): {num:f}"

'Número con 6 dígitos decimales (por defecto): 0.123457'

* **Notación científica (`e`)**: Si en lugar de mostrar el número con su valor decimal queremos representarlo siguiendo las reglas de la [**notación científica**](https://es.wikipedia.org/wiki/Notaci%C3%B3n_cient%C3%ADfica) podemos usar el siguiente modificador:  
  ```
  {VALOR:e} | {VALOR:.Pe}
  ```

Al igual que antes podemos especificar el número **`P`**, que en este caso representa la cantidad de dígitos decimales que se tendrán en cuenta después del punto decimal. Recuerde que en la notación científica podríamos encontrar la siguiente equivalencia:

$$
6.5734e20 = 6.5734 \times 10^{20}
$$

In [ ]:
num = 6.5734 * 10 ** 20

print(f"Valor en notación científica: {num:.2e}")    # Notación científica con dos dígitos decimales.

Valor en notación científica: 6.57e+20

También podemos omitir este número, que nos dará como resultado el número representado en notación científica con **6** dígitos decimales:

In [ ]:
num = 13.4497213625712 ** 15

print(f"Valor en notación científica: {num:e}")    # Notación decimal con dos dígitos decimales.

Valor en notación científica: 8.525097e+16

* **Porcentaje (`%`)**: En muchas aplicaciones, es necesario manejar números que representan **porcentajes**. _Python_ nos permite representar números decimales como porcentajes con el siguiente modificador numérico:

  ```
  {VALOR:%} | {VALOR:.P%}
  ```

Al igual que antes, se muestran por defecto **6** dígitos decimales:

In [ ]:
porcentaje = 0.5274645641

print(f"Número en formato de porcentaje: {porcentaje:%}")

Número en formato de porcentaje: 52.746456%

También podemos elegir la cantidad de dígitos indicando el parámetro **`.P`**. No olvide que estos parámetros deberán ser indicados con el símbolo de punto **`.`** al inicio.

In [ ]:
porcentaje = 0.7464121154

print(f"Número en formato de porcentaje con 2 dígitos: {porcentaje:.2%}")

Número en formato de porcentaje con 2 dígitos: 74.64%

* **Separador de miles `,`**: Finalmente, si indicamos una **coma** en el modificador, _Python_ imprimirá los números con este separador de coma.

```python
valor:,
```

In [ ]:
valor = 7785964164146454

print(f"Número con separador de miles: {valor:,}")

Número con separador de miles: 7,785,964,164,146,454

Podemos combinar el uso de este modificador con cualquiera de los otros modificadores numéricos vistos. En este caso, es necesario que la coma **`,`** vaya antes del otro modificador.

In [ ]:
valor = 2.456**17

print(f"Número con separador de miles: {valor:,}")
print(f"Número con separador de miles y dígitos decimales (2 dígitos): {valor:,.2f}")
print(f"Número con separador de miles y notación científica (2 dígitos): {valor:,.2e}")
print(f"Número con separador de miles y porcentaje (2 dígitos): {valor:,.2%}")

Número con separador de miles: 4,304,098.1065779375
Número con separador de miles y dígitos decimales (2 dígitos): 4,304,098.11
Número con separador de miles y notación científica (2 dígitos): 4.30e+06
Número con separador de miles y porcentaje (2 dígitos): 430,409,810.66%

## **6. _Python tutor_**
---
En el transcurso del curso utilizaremos [_Python Tutor_](http://pythontutor.com), una herramienta para la visualización de la ejecución de código en _Python_ y otros lenguajes. Para utilizarlo, debemos instalarlo y configurarlo con una celda como la siguiente:

In [ ]:
!pip3 -q install tutormagic
%load_ext tutormagic

Con él podemos ver el contenido de las variables en cada paso de la ejecución. Para usarlo, creamos una celda de código con el texto

> **`%%tutor -s`**

al inicio de la celda, y ubicamos nuestro código en _Python_ en el resto de la celda.

> **Nota:** la etiqueta **`-s`** es indispensable para el correcto funcionamiento en la plataforma _Colab_. Se han reportado problemas de texto invisible, que puede solucionarse [borrando la caché](https://kinsta.com/es/base-de-conocimiento/como-borrar-la-cache-del-navegador/) del sitio _Google Colaboratory_ en su navegador.


Ejecute la siguiente celda y utilice los botones **_Next_** y **_Prev_** para navegar entre las líneas de código. Preste atención a la sección **_Frames_**, en donde se puede observar el contenido de cada variable en el momento de la ejecución señalado por la flecha roja. Además, en el recuadro **_Print output_** aparecerá la salida del código conforme avanza la ejecución.

In [ ]:
%%tutor -s -h 500

a = 10
b = 1

a = b + 15

b = a - 40
b = b * a - 2

print(f"{a + b * (b + a):*^24}")

Lo invitamos a utilizar activamente esta herramienta para comprender la ejecución de los programas conforme avancemos en el curso.

# **Referencias**
---
Este material fue adaptado del libro _How to Think Like a Computer Scientist: Learning with Python 3_, Capítulo 1 y 2.

 > _Copyright (C) Brad Miller, David Ranum, Jeffrey Elkner, Peter Wentworth, Allen B. Downey, Chris
Meyers, and Dario Mitchell. Permission is granted to copy, distribute
and/or modify this document under the terms of the GNU Free Documentation
License, Version 1.3 or any later version published by the Free Software
Foundation; with Invariant Sections being Forward, Prefaces, and
Contributor List, no Front-Cover Texts, and no Back-Cover Texts. A copy of
the license is included in the section entitled “GNU Free Documentation
License”_

*   [P. Wentworth, J. Elkner, A.B. Downey, C. Meyers - How to Think Like a Computer
Scientist: Learning with Python 3
Documentation (3rd Edition)](http://www.ict.ru.ac.za/Resources/cspw/thinkcspy3/thinkcspy3.pdf)
*   [How to Think Like a Computer Scientist: Interactive Edition](http://interactivepython.org/courselib/static/thinkcspy/index.html)
*   [Aprenda a Pensar Como un Programador
con Python
 (español)](https://argentinaenpython.com/quiero-aprender-python/aprenda-a-pensar-como-un-programador-con-python.pdf)

# **Recursos adicionales**
---

En esta sección encontrará material adicional para reforzar los temas y conceptos discutidos:

* [*Python* 3: documentación oficial.](https://docs.python.org/3/)
* [_Python_ - Tutorial de _Python_ (Español)](https://docs.python.org/es/3.7/tutorial/)
  - [_Python_ - Built-in Types](https://docs.python.org/es/3.7/library/stdtypes.html)
  - [_Python_ - 2. Usando el intérprete de _Python_](https://docs.python.org/es/3.7/tutorial/interpreter.html)
  - [_Python_ - 3. Una introducción informal a _Python_](https://docs.python.org/es/3.7/tutorial/introduction.html#numbers)

# **Créditos**
---

* **Profesores:**
  * [Felipe Restrepo Calle, PhD](https://dis.unal.edu.co/~ferestrepoca/)
  * [Fabio Augusto González, PhD](https://dis.unal.edu.co/~fgonza/)
  * [Jorge Eliecer Camargo, PhD](https://dis.unal.edu.co/~jecamargom/)
* **Asistentes docentes:**
  - Alberto Nicolai Romero Martínez
  - Edder Hernández Forero

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*